// about section starts
section#about.about
  .container
    .row.align-items-center
      .col-md-6.image
        img.w-100.mb-5.mb-md-0(src='/images/application/err2.jpg' alt='')
      .col-md-6.content
        span about us
        h3 You have an appointment with life, an appointment that is in the here and now
        
        a.btn(href='#contact') make appointment
// about section ends
// benifits section starts
section#benifits.benifits
  h1.heading benifits of appointment
  .box-container.container
    .box
      img(src='images/icon-1.svg' alt='')
      h3 Better Accuracy
      
    .box
      img(src='images/icon-2.svg' alt='')
      h3 Client satisfaction
      
    .box
      img(src='images/icon-3.svg' alt='')
      h3 Co-ordination
      
    .box
      img(src='images/icon-4.svg' alt='')
      h3 Improved Efficiency
      
    .box
      img(src='images/icon-5.svg' alt='')
      h3 Easy and quick access
      
    .box
      img(src='images/icon-6.svg' alt='')
      h3 Speedy service
      
// benifits section ends
// footer section starts
section.footer
  .box-container.container
    .box
      i.fas.fa-phone
      h3 phone number
      p 08043717035
      
    .box
      i.fas.fa-map-marker-alt
      h3 our address
      p AECS Layout D Block,Bengalore , india -560037 
    .box
      i.fas.fa-clock
      h3 appointment timings
      p 09:00am to 10:00pm
    .box
      i.fas.fa-envelope
      h3 email address
      p follicle.bangalore@gmail.com
     
  .credit
    | designed and developed  by 
    span Web-Deva-CMRIT : Madakari , Charan , Deepika
// footer section ends
// custom js file link
script(src='/js/script.js')